h1 {
    font-size: 68px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 1rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
}

@media only screen and (max-width: 1178px) {
    h1 {
        font-size: 58px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.1rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: 48px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.1rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.08rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

}

@media only screen and (max-width: 740px) {
    h1 {
        font-size: 48px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.1rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    h2 {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.05rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

}

@media only screen and (max-width: 630px) {
    h1 {
        font-size: 48px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.05rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    h2 {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03rem;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
}

html {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
}

.hexagon-text {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}
.hexagon {
    position: relative;
    width: 200px; 
    height: 115.47px;
    background-color: #ffffff;
    margin: 57.74px 0;
    border-left: solid 2px white;
    border-right: solid 2px white;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 27.2893px;
}

.hexagon:before {
    top: -70.7107px;
    border-top: solid 2.8284px white;
    border-right: solid 2.8284px white;
}

.hexagon:after {
    bottom: -70.7107px;
    border-bottom: solid 2.8284px white;
    border-left: solid 2.8284px white;
}
