@font-face{
    font-family: gotham-medium;
    src: url('assets/fonts/GothamMedium.ttf');
}

@font-face{
    font-family: gotham-bold;
    src: url('assets/fonts/GothamBold.ttf');
}

@font-face{
    font-family: gotham-light;
    src: url('assets/fonts/GothamLight.ttf');
}

h1 {
    font-size: 68px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
}

#root {
    display: flex;
    flex-direction: column;
    justifiy-content: center;
    align-items: center;
}

html {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
}
